* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
  background-color: #edf0f5;
  background-image: url(fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}

header {
  background-color: #4169e1;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

header img {
  height: 60px;
  width: auto;
  margin-top: 20px;
  
}


.login-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-form label{ 
  display: flex;
  color: white;
  font-size: 18px;
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
  border: none; 
  width: 215px;
  height: 35px;
}

.forgot-password {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: none;
}

.login-form button {
  background-color: #fff;
  width: 120px;
  height: 35px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  color:#4169e1;
  position: relative;
  top: 37px;
}

.login-form button:hover {
  transform: scale(1.07);
}

.informacion {
    position: absolute;
    top: 285px;
    right: 25px;
    width: 600px;
    border-radius: 8px;
    transform: translateY(-50%);
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}

.informacion h2 {
    text-align: left;
    margin-bottom: 20px;
    color: white;
    font-size: 3em;
    font-size: 30px;
    margin: 10px;
    
}

.formulario-registro {
    position: absolute;
    top: 300px;
    right:52px;
    transform: translateY(-50%);
    width: 550px;
    padding: 15px; 
    border-radius: 8px;
    background-color: #4169e1;
}

h2 {
    text-align: left;
    margin-bottom: 5px;
    color: white;
}

h3 {
    text-align: left;
    margin-bottom: 20px;
    color: white;
}

.campos-dobles {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.campos-dobles input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-registro input::placeholder {
    text-align: left;
    color: #888;
    font-size: 18px;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campos input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.boton-registro {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #4169e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.boton-registro:hover {
    transform: scale(1.03);
}



#02d12b
#4169e1