* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
  background-color: #edf0f5;
  background-image: url(fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}

header {
  background-color: #213B5C;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

header img {
  height: 60px;
  width: auto;
  margin-top: 20px;
  
}


.login-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-form label{ 
  display: flex;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 215px;
  height: 35px;
}

.forgot-password {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.login-form button {
  background-color: #fff;
  width: 120px;
  height: 35px;
  font-size: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  color: #0d366d;
  position: relative;
  top: 37px;
  font-weight:lighter;
}

.login-form button:hover {
  transform: scale(1.07);
}
.contenedor {
    position: relative;
    width: 700px;
    height: 450px;
    overflow: hidden;
    margin: 30px;
    box-shadow: 3px 3px 5px #636363;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.informacion {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin:0;
    
}

.informacion h2 {
    text-align: center;
    color: #213B5C;
    font-size: 30px;
    margin-bottom: 10px;

}

.informacion p {
    text-align: center;
    color: #213B5C;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 20px 10px 20px;
}
.imagen img {
  position: absolute;
  width: 100%;
  height: auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  display: block;
}

.formulario-registro {
    position: absolute;
    top: 291px;
    right:30px;
    transform: translateY(-50%);
    width: 550px;
    padding: 15px; 
    border-radius: 8px;
    background-color: white;
    box-shadow: 3px 3px 5px #636363;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #213B5C;
}

.campos-dobles {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.campos-dobles input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ebebeb;
}

.formulario-registro input::placeholder {
    text-align: left;
    color: #636363;
    font-size: 18px;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campos input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ebebeb;
}

.boton-registro {
    width: 100%;
    padding: 12px;
    background-color: #213B5C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.boton-registro:hover {
    transform: scale(1.03);
}

